<th:block th:include="@{_header.html}"/>

    </aside>
    <section class="cart">
        <!-- 제목, 페이지 네비 -->
        <nav>
            <h1>장바구니</h1>
            <p>
                HOME > <span>패션·의류·뷰티</span>
                > <strong>장바구니</strong>
            </p>
        </nav>
        <form th:action="@{/order}">
            <!-- 장바구니 목록 -->
            <table>
                <tr>
                  <th><input type="checkbox" name="allBox"></th>
                  <th>상품명</th>
                  <th>총수량</th>
                  <th>판매가</th>
                  <th>할인</th>
                  <th>포인트</th>
                  <th>배송비</th>
                  <th>소계</th>
                </tr>
                <th:block th:if="#{cart} == ''">
	                <tr class="empty">
	                  <td colspan="7">장바구니에 상품이 없습니다.</td>
	                </tr>
				</th:block>
                <tr th:each="cart,i:${carts}">
                  <td><input type="checkbox" name="ckBox"></td>
                  <td>
                    <article>
                      <a href="#"><img src="https://via.placeholder.com/80x80" alt=""></a>
                      <div>
                        <h2><a href="#">상품명</a></h2>
                        <p>상품설명</p>
                      </div>
                    </article>
                  </td>
                  <td>[[${cart.cartNo}]]</td>
                  <td>[[${cart.price}]]</td>
                  <td>[[${cart.discount}]]%</td>
                  <td>270</td>
                  <td th:if="${cart.delivery} == 0">무료배송</td>
                  <td th:unless="${cart.delivery} == 0">[[${cart.delivery}]]</td>
                  <td>[[${cart.price}*(100-${cart.discount}/100)]]</td>
                </tr>
            </table>
            <input type="button" name="del" value="선택삭제">
            <!-- 장바구니 전체합계 -->
            <div class="total">
              <h2>전체합계</h2>
              <table border="0">
                <tr>
                  <td>상품수<input type="hidden" name="cartCount" value=""></td>
                  <td id="cartCount">0</td>
                </tr>
                <tr>
                  <td>상품금액<input type="hidden" name="cartPrice" value=""></td>
                  <td id="cartPrice">0</td>
                </tr>
                <tr>
                  <td>할인금액<input type="hidden" name="cartDiscount" value=""></td>
                  <td id="cartDiscount">0</td>
                </tr>
                <tr>
                  <td>배송비<input type="hidden" name="cartDelivery" value=""></td>
                  <td id="cartDelivery">0</td>
                </tr>              
                <tr>
                  <td>포인트<input type="hidden" name="cartPoint" value=""></td>
                  <td id="cartPoint">0</td>
                </tr>
                <tr>
                  <td>전체주문금액<input type="hidden" name="cartTotal" value=""></td>
                  <td id="cartTotal">0</td>
                </tr>
              </table>
              <input type="submit" name="cartOrder" value="주문하기">    
            </div>
          </form>
        </section>
        <!-- 장바구니 페이지 끝 -->
    </section>
</main>
<th:block th:include="@{_footer.html}"/>

