<th:block th:include="@{product/_header.html}"/>
<script>
	//수량 변경 + 자동 총 합계 계산
		$(function(){
			
			let price = parseInt($('input[name=price]').val());
			let discount = parseInt($('input[name=discount]').val());
			let delivery = parseInt($('input[name=delivery]').val());
			let totalPrice = 1 * Math.round(price*(100-discount)/100) + delivery;
			$('.total > span').text(totalPrice.toLocaleString());
			
			$('.increase').on('click', function(){
				let quantity = $(this).parent("div").find("input").val();
				$(this).parent("div").find("input").val(++quantity);
				let count = parseInt($('input[name=num]').val());
				let totalPrice = count * Math.round(price*(100-discount)/100) + delivery;
				$('.total > span').text(totalPrice.toLocaleString());
			});
			
			$(".decrease").on("click", function(){
				let quantity = $(this).parent("div").find("input").val();
				if(quantity > 1){
					$(this).parent("div").find("input").val(--quantity);		
				}
				let count = parseInt($('input[name=num]').val());
				let totalPrice = count * Math.round(price*(100-discount)/100) + delivery;
				$('.total > span').text(totalPrice.toLocaleString());
			});
			
			// 장바구니 클릭
 			$('.cart').click(function(){
				
				let uid = $('span[name=uid]').text();
				let prodNo = $('input[name=prodNo]').val();
				let count = $('input[name=num]').val();
				let price = $('input[name=price]').val();
				let discount = $('input[name=discount]').val();
				let point = $('input[name=point]').val();
				let delivery = $('input[name=delivery]').val();
				let total = $('.total > span').text().replaceAll(',','');
				console.log(uid);
				
				let jsonData = {
						"uid": uid,
						"prodNo": prodNo,
						"count": count,
						"price": price,
						"discount": discount,
						"point": point,
						"delivery": delivery,
						"total": total,
				};
				console.log(jsonData);
				if(uid){
					$.ajax({
						url: '/kmarket2/product/cartInert',
						type: 'post',
						data: jsonData,
						dataType: 'json',
						contentType:'application/json',
						success: function(data){
							if(confirm('장바구니에 추가되었습니다.\n장바구니로 이동하시겠습니까?')){
								location.href = "/kmarket2/product/cart";
							
							}else{
								return;
							}
						}
					});
				}else{
					alert('로그인 후 이용 가능합니다.');
				}
			}); 
			
			// 주문하기 클릭
			$('.order').click(function(){
				let count = $('input[name=num]').val();
				let uid = $('span[name=uid]').text();
				let prodNo = $('input[name=prodNo]').val();
				
				if(uid){
					location.href = "/kmarket2/product/order?prodNo="+prodNo+"&count="+count;
				}else{
					alert('로그인 후 이용 가능합니다.');
					if(confirm('로그인 페이지로 이동하시겠습니까?')){
						location.href = "/kmarket2/member/login";
					}else{
						return;
						
					}
				}
			});
			
		});
</script>
         
    <!-- 상품 상세페이지 시작 -->
    <section class="view">
    <label><span class="uid" name="uid" sec:authentication property="principal.member.uid"></span></label>
    <input type="hidden" name="price" th:value="${product.price}">
    <input type="hidden" name="prodNo" th:value="${product.prodNo}">
    <input type="hidden" name="discount" th:value="${product.discount}">
    <input type="hidden" name="point" th:value="${product.point}">
    <input type="hidden" name="delivery" th:value="${product.delivery}">
        <!-- 제목, 페이지 네비 -->
        <nav>
            <h1>상품보기</h1>
            <p>
                HOME > 
               <th:block th:each="ca1, i:${cate1}">
               	<th:block th:if="${prodCate1} == ${ca1.cate1}"><span>[[${ca1.c1Name}]]</span></th:block>
               	</th:block>
                >
                <th:block th:each="ca2, i:${cate2}">
              		<th:block th:if="${prodCate1} == ${ca2.cate1} and ${prodCate2} == ${ca2.cate2}"><strong>[[${ca2.c2Name}]]</strong></th:block>
           		</th:block>
            </p>
        </nav>
        <!-- 상품 전체 정보 -->
        <article class="info">
            <div class="image">
                <img th:src="@{|/images/${product.thumb3}|}" alt="상품 이미지">
            </div>
            <div class="summary">
                <nav>
                    <h1>(주)[[${product.company}]]</h1>
                    <h2>상품번호 : [[${product.prodNo}]]</h2>
                </nav>
                <nav>
                    <h3>[[${product.prodName}]]</h3>
                    <p>[[${product.descript}]]</p>
                    <h5 class="rating star" th:attrappend="class=${product.score}">
                        <a href="#">상품평보기</a>
                    </h5>
                </nav>
                <nav>
                    <div class="org-price">
                        <del>[[${product.price}]]</del>
                        <span>[[${product.discount}]]%</span>
                    </div>
                    <div class="dis-price">
                        <ins>[[${product.price}*(100-${product.discount})/100]]</ins>
                    </div>
                </nav>
                <nav>
                    <li th:if="${product.delivery} == 0"><span class="free-delivery">무료배송</span></li>
                	<li th:unless="${product.delivery} == 0"><span>배송비 [[${product.delivery}]]</span></li>
                    <span class="arrival">(금) 7/8 도착예정</span>
                    <span class="desc">[[${product.descript}]]</span>
                </nav>
                <nav>
                    <span class="card cardfree"><i>아이콘</i>무이자 할부</span>
                    <span class="card cardadd"><i>아이콘</i>카드추가혜택</span>
                </nav>
                <nav>
                    <span class="origin">원산지-상세설명 참조</span>
                </nav>
                <img th:src="@{/img/main/vip_plcc_banner.png}" alt="광고" class="banner">
                <div class="count">
                    <button class="decrease">-</button>
                    <input type="text" name="num" value="1" readonly>
                    <button class="increase">+</button>
                </div>
                <div class="total">
                    <span></span>
                    <em>총 상품 금액</em>
                </div>
                <div class="button">
                    <input type="button" class="cart" value="장바구니">
                    <input type="button" class="order" value="구매하기">
                </div>
            </div>
        </article>
        <!-- 상품정보 -->
        <article class="detail">
            <nav><h1>상품정보</h1></nav>
            <!-- 상품 상세페이지 이미지 -->
            <img th:src="@{|/images/${product.detail}|}" alt="상세페이지1">
        </article>
        <!-- 상품 정보 제공 고시 내용 -->
        <article class="notice">
            <nav>
                <h1>상품 정보 제공 고시</h1>
                <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
            </nav>
            <table border="0">
                <tr>
                    <td>상품번호</td>
                    <td>[[${product.prodNo}]]</td>
                </tr>
                <tr>
                    <td>상품상태</td>
                    <td>[[${product.status}]]</td>
                </tr>
                <tr>
                    <td>부가세 면세 여부</td>
                    <td>[[${product.duty}]]</td>
                </tr>
                <tr>
                    <td>영수증 발행</td>
                    <td>[[${product.receipt}]]</td>
                </tr>
                <tr>
                    <td>사업자 구분</td>
                    <td>[[${product.bizType}]]</td>
                </tr>
                <tr>
                    <td>브랜드</td>
                    <td>[[${product.company}]]</td>
                </tr>
                <tr>
                    <td>원산지</td>
                    <td>[[${product.origin}]]</td>
                </tr>
            </table>
            <table border="0">
                <tr>
                    <td>제품소재</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>색상</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>치수</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>제조자/수입국</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>제조국</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>취급시 주의사항</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>제조연월</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>품질보증기준</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>A/S 책임자와 전화번호</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td>주문 후 예상 배송기간</td>
                    <td>상세정보 직접입력</td>
                </tr>
                <tr>
                    <td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우</td>
                </tr>
            </table>
            <p class="notice">
                소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고
                동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
                환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조
                제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여
                산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의
                환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
            </p>
            <!-- 상품 상세페이지 끝 -->
        </article>
        <!-- 상품 리뷰 -->
        <article class="review">
            <nav>
                <h1>상품리뷰</h1>
            </nav>
            <ul>
                <li th:each="re,i:${reviews}">
                    <div>
                        <h5 class="rating star" th:attrappend="class=${re.rating}">[[${re.content}]]</h5>
                        <span>[[${re.uid.substring(0,3)}]]**** [[${re.rdate.substring(2, 10)}]]</span>
                    </div>
                    <h3>[[${re.prodName}]]</h3>
                    <p>[[${re.content}]]</p>
                </li>
            </ul>
            <div class="paging">
                <th:block th:if="${groups[0]>1}">
	            <span class="prev"><a href="@{/product/view(pg=${groups[0]-1},prodNo=${product.prodNo},cate1=${product.prodCate1},cate2=${product.prodCate2})}">&lt;이전</a></span>
        	</th:block>

        	<th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
	            <span class="num">
	                <a th:href="@{/product/view(pg=${num},prodNo=${product.prodNo},prodCate1=${product.prodCate1},prodCate2=${product.prodCate2})}" 
	                   th:class="${num == currentPage ? 'num on' : 'num'}">[[${num}]]</a>
	            </span>
        	</th:block>
    
        	<th:block th:if="${groups[1]<lastPageNum}">
	            <span class="prev"><a href="@{/product/view(pg=${groups[1]+1},prodNo=${product.prodNo},prodCate1=${product.prodCate1},prodCate2=${product.prodCate2})}">다음&gt;</a></span>
        	</th:block>
            </div>
        </article>
    </section>
</main>
<th:block th:include="@{product/_footer.html}"/>
























