<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>케이마켓 회사소개</title>
    <link rel="shortcut icon" type="image/x-icon" href="/kmarket2/img/company/favicon.ico" />
    <link rel="stylesheet" href="/kmarket2/style/company/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/kmarket2/js/company/company.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div>
                <a href="./index.html"><img src="./img/company_header_logo2.png" width="180" alt="로고"></a>
                <ul>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">전자공시</a></li>
                    <li><a href="#">홍보채널</a></li>
                    <li><a href="#">투명경영</a></li>
                </ul>
            </div>
        </header>
  
</html>