<th:block th:include="@{admin/_header.html}"/>
	<script>
		document.addEventListener("DOMContentLoaded", ()=>{
			getAdminCate1Faq();
			setAdminCate2Select();
			setAdminCate();
		});
	</script>
    <main id="main_admin_qna_list" class="flex-shrink-0">
      <div class="container d-flex flex-row">
        <div class="me-4">
        	<th:block th:include="@{admin/_aside.html}"/>
        </div>
        <div class="col">
          <div id="admin_nav" class="row align-items-end border-bottom border-1 border-dark pt-5 mb-4">
            <div class="col-6 h3 fw-bold">자주묻는질문 목록</div>
            <div class="col-6 mb-1">
              <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb d-flex justify-content-end mb-0">
                  <li class="breadcrumb-item">Home</li>
                  <li class="breadcrumb-item" aria-current="page">고객센터</li>
                  <li class="breadcrumb-item fw-bold" aria-current="page">자주묻는질문</li>
                </ol>
              </nav>
            </div>
          </div>
          <div>
            <div class="d-flex mb-2">
              <select name="" id="admin_cs_cate1" class="form-select me-3 w-25">
                <option value="0" selected>1차 유형</option>
                <option value="1" th:selected="${cate1}==1">회원</option>
                <option value="2" th:selected="${cate1}==2">쿠폰/혜택/이벤트</option>
                <option value="3" th:selected="${cate1}==3">주문/결제</option>
                <option value="4" th:selected="${cate1}==4">배송</option>
                <option value="5" th:selected="${cate1}==5">취소/반품/교환</option>
                <option value="6" th:selected="${cate1}==6">여행/숙박/항공</option>
                <option value="9" th:selected="${cate1}==9">안전거래</option>
              </select>
              <select name="" id="admin_cs_cate2" class="form-select w-25">
                <option value="0" selected>2차 유형</option>
              </select>
            </div>
            <table class="table border-top text-center align-middle" id="admin_cs_table">
              <thead class="table-light align-middle">
              	<tr>
	                <th><input type="checkbox" name="" id="" class="form-check-input"></th>
	                <th>번호</th>
	                <th>1차유형</th>
	                <th>2차유형</th>
	                <th>제목</th>
	                <th>조회</th>
	                <th>날짜</th>
	                <th>관리</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="faq : ${list}">
                  <td>
                    <input type="checkbox" name="" id="" class="form-check-input">
                  </td>
                  <td th:text="${faq.no}">75</td>
                  <td th:text="${faq.cate1Entity.c1Name}">이벤트당첨</td>
                  <td th:text="${faq.cate2Entity.c2Name}">이벤트당첨</td>
                  <td class="text-start"><a th:href="@{/admin/cs/faq/view?no=1}" th:text="${faq.title}">테스트 이벤트 당첨 테스트 이벤트 당첨 테스트 이벤트 당첨</a></td>
                  <td th:text="${faq.hit}">1000</td>
                  <td th:text="${faq.rdate}">22-12-30</td>
                  <td>
                   	<a th:href="@{/admin/cs/faq/delete?no=1}">[삭제]</a>
                    <a th:href="@{/admin/cs/faq/modify?no=1}">[수정]</a>
                  </td>
                </tr>
                
                
              </tbody>
            </table>
			
            <div class="d-flex justify-content-between">
              <div>
                <button type="button" class="btn btn-secondary">선택삭제</button>
              </div>
              <div>
                <a th:href="@{/admin/cs/faq/write}" role="button" class="btn btn-primary">작성하기</a>
              </div>
            </div>
            
  			<div id="paging_nav">
				<nav th:if="${totalPages gt 1} and ${cate2} == 0">
				  <ul class="pagination justify-content-center">
				  
				    <li th:if="${startPages gt 1}">
				      <a class="page-link" th:href="@{/admin/cs/faq/list(pageNum=${startPages}-1, cate1=${cate1}, cate2=${cate2})}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    
				    <li class="page-item" th:each="page : ${#numbers.sequence(startPages,endPages)}" th:class="${currentPage eq page} ? active">
				    	<a class="page-link" th:href="@{/admin/cs/faq/list(pageNum=${page}, cate1=${cate1}, cate2=${cate2})}" th:text="${page}"></a>
				    </li>
				    <li class="page-item" th:if="${endPages lt totalPages}">
				      <a class="page-link" th:href="@{/admin/cs/faq/list(pageNum=${endPages}+1, cate1=${cate1})}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
			
          </div>
        </div>
      </div>
    </main>
<th:block th:include="@{admin/_footer.html}"/>