<th:block th:include="@{my/_header.html}"/>
      <main id="ordered">
       <th:block th:include="@{my/_aside.html}"/>
        <!-- section -->
        <section>
          <div id="banner">
            <a href="">
              <img th:src="@{/img/my/my_banner1.jpg}" alt="my_banner1" id="my_banner1" class="my_banner">
            </a>
          </div>
          <div id="my_all_order">
            <h3>전체주문내역</h3>
            <div id="period">
              <div></div>
              <div>
                <ul>
                  <li><a href=""><strong>1</strong>주일</a></li>
                  <li><a href=""><strong>15</strong>일</a></li>
                  <li><a href=""><strong>1</strong>개월</a></li>
                </ul>
              </div>
              <div>
                <ul>
                  <li><a href=""><strong>11</strong>월</a></li>
                  <li><a href=""><strong>10</strong>월</a></li>
                  <li><a href=""><strong>9</strong>월</a></li>
                  <li><a href=""><strong>8</strong>월</a></li>
                  <li><a href=""><strong>7</strong>월</a></li>
                </ul>
              </div>
              <div>
                <input type="date" name="" id="">
                <span>~</span>
                <input type="date" name="" id="">
              </div>
              <div>
                <a href=""></a>
              </div>
            </div>
            <table>
              <thead>
                <tr>
                  <th>날짜</th>
                  <th colspan="2">상품정보</th>
                  <th>상태</th>
                  <th>확인/신청</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2022-12-13</td>
                  <td><img src="https://via.placeholder.com/80x80" alt=""></td>
                  <td>
                    <p>상호명</p>
                    <p>상품명</p>
                    <p>수량 : 1개 / 주문번호 : 1012211341</p>
                    <p>34,000원</p>
                  </td>
                  <td>배송완료</td>
                  <td>
                    <a href="" class="my_receive"></a>
                    <a href="" class="my_review"></a>
                    <a href="" class="my_return">반품신청</a>
                    <a href="" class="my_exchange">교환신청</a>
                  </td>
                </tr>
                <tr>
                  <td>2022-12-13</td>
                  <td><img src="https://via.placeholder.com/80x80" alt=""></td>
                  <td>
                    <p>상호명</p>
                    <p>상품명</p>
                    <p>수량 : 1개 / 주문번호 : 1012211341</p>
                    <p>34,000원</p>
                  </td>
                  <td>배송완료</td>
                  <td>
                    <a href="" class="my_receive"></a>
                    <a href="" class="my_review"></a>
                    <a href="" class="my_return">반품신청</a>
                    <a href="" class="my_exchange">교환신청</a>
                  </td>
                </tr>
                <tr>
                  <td>2022-12-13</td>
                  <td><img src="https://via.placeholder.com/80x80" alt=""></td>
                  <td>
                    <p>상호명</p>
                    <p>상품명</p>
                    <p>수량 : 1개 / 주문번호 : 1012211341</p>
                    <p>34,000원</p>
                  </td>
                  <td>배송완료</td>
                  <td>
                    <a href="" class="my_receive"></a>
                    <a href="" class="my_review"></a>
                    <a href="" class="my_return">반품신청</a>
                    <a href="" class="my_exchange">교환신청</a>
                  </td>
                </tr>
                <tr>
                  <td>2022-12-13</td>
                  <td><img src="https://via.placeholder.com/80x80" alt=""></td>
                  <td>
                    <p>상호명</p>
                    <p>상품명</p>
                    <p>수량 : 1개 / 주문번호 : 1012211341</p>
                    <p>34,000원</p>
                  </td>
                  <td>배송완료</td>
                  <td>
                    <a href="" class="my_receive"></a>
                    <a href="" class="my_review"></a>
                    <a href="" class="my_return">반품신청</a>
                    <a href="" class="my_exchange">교환신청</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div id="page">
              <ul>
                <li id="prev"><a href="#"><</a></li>
                <li><a href="" id="" class="num on">1</a></li>
                <li><a href="" id="" class="num">2</a></li>
                <li><a href="" id="" class="num">3</a></li>
                <li id="next"><a href="">></a></li>
              </ul>
            </div>
          </div>
        </section>
      </main>
<th:block th:include="@{my/_footer.html}"/>