<th:block th:include="@{my/_header.html}"/>
      <main id="review">
		<th:block th:include="@{my/_aside.html}"/>
        <!-- section -->
        <section>
          <div id="banner">
            <a href="" id="my_banner2"></a>
          </div>

          <div id="my_review_list">
            <h3>나의 리뷰</h3>
            <table>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>상품명</th>
                  <th>내용</th>
                  <th>평점</th>
                  <th>작성일</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="">가을 신상품 패딩 코트</a></td>
                  <td>배송이 빠릅니다. 잘사용하겠습니다.</td>
                  <td><span class="star star1"></span></td>
                  <td>2022-12-10</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="">상품명</a></td>
                  <td>배송이 빠릅니다. 잘사용하겠습니다.</td>
                  <td><span class="star star2"></span></td>
                  <td>2022-12-10</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="">상품명</a></td>
                  <td>배송이 빠릅니다. 잘사용하겠습니다.</td>
                  <td><span class="star star3"></span></td>
                  <td>2022-12-10</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><a href="">상품명</a></td>
                  <td>배송이 빠릅니다. 잘사용하겠습니다.</td>
                  <td><span class="star star4"></span></td>
                  <td>2022-12-10</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><a href="">상품명</a></td>
                  <td>배송이 빠릅니다. 잘사용하겠습니다.</td>
                  <td><span class="star star5"></span></td>
                  <td>2022-12-10</td>
                </tr>
              </tbody>
            </table>
          </div>
         
        </section>
      </main>
<th:block th:include="@{my/_footer.html}"/>