<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
<th:block th:include="@{cs/_header.html}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
$(function(){
	// 문의글 작성 유효성 검사
	$('.write form').submit(function() {
		let cate = $('select[name=cate]').val();
		let title = $('input[name=title]').val();
		let content = $('textarea[name=content]').val(); 
		
		if(cate == 0){
			alert('카테고리를 선택해주세요.');
			return false;
		}
		if(title == '' || title == null){
			alert('제목 입력은 필수입니다.');
			$('input[name=title]').focus();
			return false;
		}
		if(content == '' || content == null){
			alert('내용 입력은 필수입니다.');
			$('textarea[name=content]').focus();
			return false;
		}
		
		alert('작성이 완료되었습니다');
		
	});
	
});
</script>
      <section id="cs">
        <div class="qna">
          <nav>
            <div>
              <p>홈<span>></span>문의하기</p>
            </div>
          </nav>
          <section class="write">
            <aside>
              <h2>문의하기</h2>
              <ul>
				<li th:classappend="${cate1} eq 1 ?'on':'off'"><a th:href="@{/cs/qna/list?group=faq&cate1=1}">회원</a></li>
                <li th:classappend="${cate1} eq 2 ?'on':'off'"><a th:href="@{/cs/qna/list?group=faq&cate1=2}">쿠폰/혜택/이벤트</a></li>
                <li th:classappend="${cate1} eq 3 ?'on':'off'"><a th:href="@{/cs/qna/list?group=faq&cate1=3}">주문/결제</a></li>
                <li th:classappend="${cate1} eq 4 ?'on':'off'"><a th:href="@{/cs/qna/list?group=faq&cate1=4}">배송</a></li>
                <li th:classappend="${cate1} eq 5 ?'on':'off'"><a th:href="@{/cs/qna/list?group=faq&cate1=5}">취소/반품/교환</a></li>
                <li th:classappend="${cate1} eq 6 ?'on':'off'"><a th:href="@{/cs/qna/list?group=faq&cate1=6}">여행/숙박/항공</a></li>
                <li th:classappend="${cate1} eq 9 ?'on':'off'"><a th:href="@{/cs/qna/list?group=faq&cate1=9}">안전거래</a></li>
              </ul>
            </aside>
            <article>
              <form th:action="@{/cs/qna/write}" method="post">
              <input type="hidden" name="uid" th:value="buyer">
                <table>
                  <tr>
                    <td>문의유형</td>
                    <td>
                      <select name="type">
                        <option value="0">1차 선택</option>
                        <option th:each="cate:${c1Names}" th:value="${cate.cate1}">[[${cate.c1Name}]]</option>
                      </select>
					  
                    </td>
                  </tr>
                  <tr>
                    <td>문의제목</td>                  
                    <td>
                      <input type="text" name="title" placeholder="제목을 입력하세요."/>
                    </td>
                  </tr>                
                  <tr>
                    <td>문의내용</td>                  
                    <td>
                      <textarea name="content" placeholder="내용을 입력하세요."></textarea>
                    </td>
                  </tr>
                </table>
                <div>
                  <a th:href="@{list}" class="btnList">취소하기</a>
                  <input type="submit" class="btnSubmit" value="등록하기"/>
                </div>
              </form>
            </article>
          </section>
        </div>
      </section>

<th:block th:include="@{cs/_footer.html}"/>

</html>