<th:block th:include="@{admin/_header.html}"/>
	<script>
		document.addEventListener("DOMContentLoaded", ()=>{
			setAdminCate();
		});
	</script>
    <main id="main_admin_qna_list" class="flex-shrink-0">
      <div class="container d-flex flex-row">
        <div class="me-4">
			<th:block th:include="@{admin/_aside.html}"/>
        </div>
        <div class="col">
          <div id="admin_nav" class="row align-items-end border-bottom border-1 border-dark pt-5 mb-4">
            <div class="col-6 h3 fw-bold">공지사항 수정</div>
            <div class="col-6 text-end mb-1">
              <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb d-flex justify-content-end mb-0">
                  <li class="breadcrumb-item">Home</li>
                  <li class="breadcrumb-item" aria-current="page">고객센터</li>
                  <li class="breadcrumb-item" aria-current="page">공지사항</li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- section -->
          <form th:action="@{/admin/cs/notice/modify}" method="post">
            <table class="table align-middle border-top">
              <tbody>
                <tr>
                  <th scope="row" class="text-center fw-bold fs-5">유 형</th>
                  <td>
                    <select name="cate1" id="admin_cs_cate1" class="form-select w-25" required>
                    
                      <option value="">1차 유형</option>
                      <option value="8" th:selected="${entity.cate1Entity.cate1}=='8'">고객서비스</option>
                      <option value="9" th:selected="${entity.cate1Entity.cate1}=='9'">안전거래</option>
                      <option value="10" th:selected="${entity.cate1Entity.cate1}=='10'">위해상품</option>
                      <option value="11" th:selected="${entity.cate1Entity.cate1}=='11'">이벤트당첨</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center fw-bold fs-5">제 목</th>
                  <td>
                    <input type="text" class="form-control" name="title" th:value="${entity.title}" required>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-center fw-bold fs-5">내 용</th>
                  <td>
                    <textarea cols="30" rows="10" class="form-control" name="content" th:text="${entity.content}" required>내용</textarea>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <a th:href="@{/admin/cs/notice/list(cate1 = ${cate1}, pageNum = ${currentPage}, no = ${entity.no})}" role="button" class="btn btn-secondary btn-lg">취소</a>
              <button type="submit" class="btn btn-primary btn-lg">수정하기</button>
            </div>
          </form>
        </div>
      </div>
    </main>
<th:block th:include="@{admin/_footer.html}"/>
