<th:block th:include="@{admin/_header.html}"/>
<script src="/kmarket2/js/my/home.js"></script>
    <main id="main_admin_qna_list" class="flex-shrink-0">
      <div class="container d-flex flex-row">
        <div class="me-4">
          <th:block th:include="@{admin/_aside.html}"/>
        </div>
        <div class="col">
          <div id="admin_nav" class="row align-items-end border-bottom border-1 border-dark pt-5 mb-4">
            <div class="col-6 h3 fw-bold">문의하기 목록</div>
            <div class="col-6 text-end mb-1">
              <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb d-flex justify-content-end mb-0">
                  <li class="breadcrumb-item">Home</li>
                  <li class="breadcrumb-item" aria-current="page">고객센터</li>
                  <li class="breadcrumb-item fw-bold" aria-current="page">문의하기</li>
                </ol>
              </nav>
            </div>
          </div>
          <div>
            <div class="d-flex">
              <select name="" id="" class="form-select mb-2 me-3">
                <option selected>1차 유형</option>
                <option value="1">회원</option>
                <option value="2">쿠폰/혜택/이벤트</option>
                <option value="3">주문/결제</option>
                <option value="4">배송</option>
                <option value="5">취소/반품/교환</option>
                <option value="6">여행/숙박/항공</option>
                <option value="7">안전거래</option>
              </select>
              <select name="" id="" class="form-select mb-2 w-25">
                <option selected>2차 유형</option>
                <option value="1">고객서비스</option>
                <option value="2">안전거래</option>
                <option value="3">위해상품</option>
                <option value="4">청소년위해상품/이미지</option>
              </select>
            </div>
            <table class="table border-top text-center align-middle" id="admin_cs_table">
              <thead class="table-light align-middle">
                <th><input type="checkbox" name="" id="" class="form-check-input"></th>
                <th>번호</th>
                <th>1차유형</th>
                <th>2차유형</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>상태</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <input type="checkbox" name="" id="" class="form-check-input">
                  </td>
                  <td>75</td>
                  <td>이벤트당첨</td>
                  <td>이벤트당첨</td>
                  <td class="text-start"><a th:href="@{/admin/cs/qna/view?no=1}">테스트 이벤트 당첨 테스트 이벤트 당첨 테스트 이벤트 당첨</a></td>
                  <td>userid</td>
                  <td>22-12-30</td>
                  <td class="qna_stat">0</td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" name="" id="" class="form-check-input">
                  </td>
                  <td>75</td>
                  <td>이벤트당첨</td>
                  <td>이벤트당첨</td>
                  <td class="text-start"><a th:href="@{/admin/cs/qna/view?no=1}">테스트 이벤트 당첨 테스트 이벤트 당첨 테스트 이벤트 당첨</a></td>
                  <td>userid</td>
                  <td>22-12-30</td>
                  <td class="qna_stat">1</td>
                </tr>
              </tbody>
            </table>
            <div>
              <button type="button" class="btn btn-secondary">선택삭제</button>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </main>
<th:block th:include="@{admin/_footer.html}"/>